 Cache, temp and personal files

lampyiswiatlo_shop/html/.htaccess
*.log

# Cache
lampyiswiatlo_shop/html/cache/*
!/lampyiswiatlo_shop/html/cache/.htaccess
!/lampyiswiatlo_shop/html/cache/cachefs/index.php
!/lampyiswiatlo_shop/html/cache/deprecated.txt
!/lampyiswiatlo_shop/html/cache/index.php
!/lampyiswiatlo_shop/html/cache/purifier/index.php
!/lampyiswiatlo_shop/html/cache/push/activity
!/lampyiswiatlo_shop/html/cache/push/index.php
!/lampyiswiatlo_shop/html/cache/push/trends
!/lampyiswiatlo_shop/html/cache/sandbox/index.php
!/lampyiswiatlo_shop/html/cache/smarty/cache/index.php
!/lampyiswiatlo_shop/html/cache/smarty/compile/index.php
!/lampyiswiatlo_shop/html/cache/smarty/index.php
!/lampyiswiatlo_shop/html/cache/tcpdf/index.php

# Download
lampyiswiatlo_shop/html/download/*
!/lampyiswiatlo_shop/html/download/.htaccess
!/lampyiswiatlo_shop/html/download/index.php

# Images
img/*
!/lampyiswiatlo_shop/html/img/.htaccess
!/lampyiswiatlo_shop/html/img/index.php
!/lampyiswiatlo_shop/html/img/404.gif
!/lampyiswiatlo_shop/html/img/bg_500.png
!/lampyiswiatlo_shop/html/img/bg_loader.png
!/lampyiswiatlo_shop/html/img/favicon.ico
!/lampyiswiatlo_shop/html/img/loader.gif
!/lampyiswiatlo_shop/html/img/loadingAnimation.gif
!/lampyiswiatlo_shop/html/img/logo.jpg
!/lampyiswiatlo_shop/html/img/logo.png
!/lampyiswiatlo_shop/html/img/logo_invoice.jpg
!/lampyiswiatlo_shop/html/img/logo_stores.png
!/lampyiswiatlo_shop/html/img/macFFBgHack.png
!/lampyiswiatlo_shop/html/img/prestashop-avatar.png
!/lampyiswiatlo_shop/html/img/prestashop@2x.png
!/lampyiswiatlo_shop/html/img/preston-login-wink@2x.png
!/lampyiswiatlo_shop/html/img/preston-login@2x.png
!/lampyiswiatlo_shop/html/img/questionmark.png
!/lampyiswiatlo_shop/html/img/genders/index.php
!/lampyiswiatlo_shop/html/img/admin/index.php
!/lampyiswiatlo_shop/html/img/c/index.php
!/lampyiswiatlo_shop/html/img/cms/index.php
!/lampyiswiatlo_shop/html/img/co/index.php
!/lampyiswiatlo_shop/html/img/jquery-ui
!/lampyiswiatlo_shop/html/img/l/index.php
!/lampyiswiatlo_shop/html/img/m/index.php
!/lampyiswiatlo_shop/html/img/os/index.php
!/lampyiswiatlo_shop/html/img/p/index.php
!/lampyiswiatlo_shop/html/img/s/index.php
!/lampyiswiatlo_shop/html/img/scenes
!/lampyiswiatlo_shop/html/img/st/index.php
!/lampyiswiatlo_shop/html/img/su/index.php
!/lampyiswiatlo_shop/html/img/t/index.php
!/lampyiswiatlo_shop/html/img/tmp/index.php

# Upload
lampyiswiatlo_shop/html/upload/*
!/lampyiswiatlo_shop/html/upload/.htaccess

lampyiswiatlo_shop/html/vendor/*
lampyiswiatlo_shop/html/docs/phpdoc-sf/
lampyiswiatlo_shop/html/composer.lock
*.hot-update.js
*.hot-update.json


lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/autoupgrade/*
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/autoupgrade/index.php
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/autoupgrade/backup/index.php

lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/backups/*
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/backups/.htaccess

lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/import/*
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/import/.htaccess
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/import/index.php

lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/export/*
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/export/.htaccess
!/lampyiswiatlo_shop/html/lampyiswiatlo_shop/html/admin-dev/export/index.php

# Downloaded RTL files
lampyiswiatlo_shop/html/admin-dev/themes/default/css/bundle/default_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/css/bundle/shared_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/css/font_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/css/overrides_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/css/vendor/nv.d3_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/css/vendor/titatoggle-min_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/default/public/theme_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/new-theme/css/module/drop_rtl.css
lampyiswiatlo_shop/html/admin-dev/themes/new-theme/css/right-sidebar_rtl.css

themes/*/cache/*

# Config

lampyiswiatlo_shop/htmlconfig/settings.inc.php
lampyiswiatlo_shop/htmlconfig/settings.old.php
lampyiswiatlo_shop/htmlconfig/xml/*
lampyiswiatlo_shop/htmlconfig/themes/*
!/lampyiswiatlo_shop/htmlconfig/xml/themes/default.xml
lampyiswiatlo_shop/htmlthemes/*/config/settings_*.json
lampyiswiatlo_shop/htmlapp/config/parameters.old.yml
lampyiswiatlo_shop/htmlapp/config/config.php

# Themes, modules and overrides

lampyiswiatlo_shop/html/modules/*
lampyiswiatlo_shop/html/override/*
lampyiswiatlo_shop/html/themes/*/
!/lampyiswiatlo_shop/html/themes/classic
!/lampyiswiatlo_shop/html/themes/_core
!/lampyiswiatlo_shop/html/themes/_libraries

# Vendors and dependencies

lampyiswiatlo_shop/htmlbower_components/
lampyiswiatlo_shop/htmlnode_modules/
lampyiswiatlo_shop/htmlcomposer.phar
lampyiswiatlo_shop/htmlphp-cs-fixer
lampyiswiatlo_shop/html/.grunt/*

# Translations and emails templates

lampyiswiatlo_shop/html/translations/*
lampyiswiatlo_shop/html/mails/*
!/lampyiswiatlo_shop/htmlmails/themes/
!/lampyiswiatlo_shop/htmlmails/_partials/
lampyiswiatlo_shop/html/themes/default-bootstrap/lang/*
lampyiswiatlo_shop/html/themes/default-bootstrap/modules/*/translations/*.php
lampyiswiatlo_shop/html/themes/default-bootstrap/mails/*
!/lampyiswiatlo_shop/htmlthemes/default-bootstrap/mails/en/
lampyiswiatlo_shop/html/themes/default-bootstrap/modules/*/mails/*
!/lampyiswiatlo_shop/htmlthemes/default-bootstrap/modules/*/mails/en

# MISC

*sitemap.xml
lampyiswiatlo_shop/html/robots.txt

# Symfony

lampyiswiatlo_shop/html/bin/
lampyiswiatlo_shop/html/app/Resources/geoip/GeoLite2-City.mmdb
lampyiswiatlo_shop/html/app/Resources/translations/*
!/lampyiswiatlo_shop/html/app/Resources/translations/default
lampyiswiatlo_shop/html/app/config/parameters.yml
lampyiswiatlo_shop/html/app/config/parameters.php
lampyiswiatlo_shop/html/build/
lampyiswiatlo_shop/html/phpunit.xml
lampyiswiatlo_shop/html/var/*
!/lampyiswiatlo_shop/html/var/cache
lampyiswiatlo_shop/html/var/cache/*
!/lampyiswiatlo_shop/htmlvar/cache/.gitkeep
!/lampyiswiatlo_shop/html/var/logs
lampyiswiatlo_shop/html/var/logs/*
!/lampyiswiatlo_shop/htmlvar/logs/.gitkeep
!/lampyiswiatlo_shop/html/var/sessions
lampyiswiatlo_shop/html/var/sessions/*
!/lampyiswiatlo_shop/htmlvar/sessions/.gitkeep
!/lampyiswiatlo_shop/htmlvar/SymfonyRequirements.php
lampyiswiatlo_shop/html/vendor/
lampyiswiatlo_shop/html/web/bundles/